*{
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
    background-color: black;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 5rem;
}
p{
    font-size: 1.5rem;
}
th, td{
    font-size: 1.5rem;
    padding: 2  px 5px;
}
table{
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
}
span{
    color: red;
}